<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    
    <script src="main.js" defer></script>
    <style>
      html {
        background-color: #e4e9fd;
        min-height: 1000px;
        background-image: url("books.jpg");
        background-size: cover;
        background-attachment: fixed;
      }
      #display-box {
        background-color: rgba(255, 255, 255, 0.8);
        border: none;
      }
      </style>
    <title>Completed | ToDo</title>
  </head>
  <body>
    <header>
      <nav>
        <input type="checkbox" id="checkbox">
        <label for="checkbox">
          <i class="fas fa-bars" id="btn"></i>
          <i class="fas fa-times" id="cancel"></i>
        </label>
        <img src="logo.png" alt="Logo">
        <ul>
          <li><a href="/">Tasks</a></li>
          <li><a href="/today">My Day</a></li>
          <li><a href="#">Completed</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <noscript>This page doesn't javascript!</noscript>
      <button class="btn" id="display">Display</button>
      <div id="display-box">
        <% if (tasks.length !== 0) { %>
        <table>
          <thead>
            <tr>
              <th><h2>Completed</h2></th>
            </tr>
          </thead>
          <tbody>
            <% tasks.forEach(task => { %>
            <tr>
              <td class="completed" colspan="2"><%= task.task %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <button class="btn" id="hide">Hide</button>
        <form class="clear-form" action="/completed/delete" method="post">
          <button type="submit" class="btn">Clear</button>
        </form>
        <% } %>
      </div>
    </main>
  </body>
</html>
