<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <style>
      html {
        background-color: #e4e9fd;
        min-height: 1000px;
        background-image: url("table.jpg");
        background-size: 100vw 100vh;
        background-attachment: fixed;
      }

      #display-box {
        background-color: rgba(255, 255, 255, 0.75);
        border: none;
      }

      #display-box li:last-child {
        border-bottom: none;
      }
    </style>
    <title>My Day | ToDo</title>
  </head>
  <body>
    <header>
      <nav>
        <input type="checkbox" id="checkbox" />
        <label for="checkbox">
          <i class="fas fa-bars" id="btn"></i>
          <i class="fas fa-times" id="cancel"></i>
        </label>
        <img src="logo.png" alt="Logo" />
        <ul>
          <li><a href="/">Tasks</a></li>
          <li><a href="#">My Day</a></li>
          <li><a href="/completed">Completed</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div id="display-box">
        <% if (tasks.length !== 0) { %>
        <h2><b>My Day</b></h2>
        <% } %>
        <ul>
          <%tasks.forEach((task) => {%>
          <li>
            <form action="/api/tasks/delete/2" method="post">
              <input
                type="checkbox"
                name="checkbox"
                value="<%=task.id%>"
                class="task-checkbox"
                onchange="this.form.submit()"
              />
              <span><%=task.task%></span>
            </form>
          </li>
          <% }) %>
        </ul>
      </div>
    </main>
  </body>
</html>
